# Buttondown embed-formulier: https://buttondown.com/api/emails/embed-subscribe/<jouw-gebruikersnaam>
PUBLIC_NEWSLETTER_FORM_URL=
# PostHog (EU-cloud), projectsleutel
PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
